<div class="row">
    <div class="col-xs-12">
    </div>
</div>


<div class="credit-card center" ng-if="card.cardArtUrl" ng-style="{'background-image':'url({{card.cardArtUrl}})', 'background-size': 'cover'}">
    <p class="cardText">AMERICAN EXPRESS</p>
    <!-- Stripe test number -->
    <p class="cardNumber ">3782 822463 10005</p>
</div>
<div class="credit-card center" ng-if="!card.cardArtUrl"  ng-style="{'background-image':'url(images/cardart.gif)', 'background-size': 'cover'}">

    <p class="cardNumber low">3782 822463 10005</p>
</div>
<div class="center center-text" style="margin-top: 40px">
    <p>Scan with:</p>
    <img src="images/apple-pay.png" width="75px"/>
</div>
