@font-face {
    font-family: 'Halter';
    font-style: normal;
    font-weight: normal;
    src: local('Halter'), url('HALTER__.woff') format('woff');
}

@font-face {font-family: "COMPUTER Robot";
    src: url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.eot");
    src: url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4942c36ee8043aa297592fea9b01be79.svg#COMPUTER Robot") format("svg");
}

@font-face {
    font-family: BentonSans;
    src: url(//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot);
    src: local("Benton Sans Regular"),url(//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot?) format("embedded-opentype"),url(//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-3.woff) format("woff"),url(//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-1.ttf) format("truetype"),url(//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-4.svg#web) format("svg");
    font-style: normal;
    font-weight: 400
}


body{
    font-family: 'Roboto', sans-serif;;
}



header{
    background-color: #20d1ad;
    color: #FFFFFF;
    font-family: "COMPUTER Robot";
    padding-left: 10px;
    height: 55px;
}

header h1 {
    color: #fff;
    margin-top: 0;
    line-height: 60px;
}

.no-margin{
    margin: 0;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.center-text{
    text-align: center;
}

.credit-card{
    background-color: #39a2ca;
    height: 175px;
    width: 285px;
    /*border-color: #828282;*/
    /*border-width: 1px;*/
    border-radius: 7px;
    /*border-style: solid;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
}

.credit-card .cardText{
    color: rgba(255,255,255,0.7);
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: BentonSans;
}

.credit-card .vCardText{
    /*text-align: right;*/
    /*font-style: italic;*/
    color: rgba(114, 17, 91, 0.8);

    /* Old Skool fontings */
    font-family: 'COMPUTER Robot';
    font-size: 23px;
    margin: 0;
}

.credit-card .cardNumber{
    font-family: 'Halter', sans-serif;
    margin-top: 80px;
    font-size: 15px;
    background-color: rgba(255,255,255,0.85);
    color: black;
}
.credit-card .cardNumber.low{
    margin-top: 100px;
}

.card-summary{

}

.card-summary h3{
    /* card name */
    margin: 0;
}

/* bootstrappings */

.btn-primary{
    background-color: #20d1ad;
    border-color: #1fb191;
}

.btn-primary:hover {
    background-color: #1e9e7f;
    border-color: #1a8b70;
}

.btn-primary:active {
    background-color: #1d886a;
    border-color: #1a8b70;
}

.img-circle.profile_img{
    border:none !important;
}

.limit{
    margin: 20px 0px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0 20px 0;
}