<div class="row">
    <div class="col-xs-12">
        <h1 class="no-margin">Dashboard</h1>
    </div>
</div>

<div class="row tile_count">
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Number of cards</span>
        <div class="count">{{person.cards.length}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Total balance</span>
        <div class="count">£{{totalBalance}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>Average Monthly spend</span>
        <div class="count">2500</div>
    </div>
</div>


<div class="row">
    <div class="col-xs-8">
        <h2>Your virtual cards</h2>
    </div>
    <div class="col-xs-4">
        <p class="pull-right">
            <a class="btn btn-primary btn-sm" ui-sref="addCard">Add Card</a>
        </p>
    </div>
</div>
<div ng-repeat="card in person.cards" class="panel panel-default card-summary">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <h3>{{card.cardName}}</h3>
            </div>
            <div class="col-xs-6 text-right">
                <a href="" ui-sref="updateCard({id: $index})" class="btn btn-primary btn-sm">
                    Edit
                </a>
                <a href="#" class="btn btn-primary btn-sm" ui-sref="applePay({id: $index})">
                    View Card
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <img ng-src="{{card.cardArtUrl || 'images/cardart.gif'}}" style="width: 100%">
            </div>
            <div class="col-xs-6">
                <p>Card holder: <span class="big"><strong>{{card.recipientName}}</strong></span></p>
                <p>Expires: <span class="big"><strong>{{card.expr}}</strong></span></p>
                <p>Balance: <span class="big"><strong>£{{card.balance}}</strong></span></p>
                <div ng-if="card.limits && card.limits.length>0">
                    <h4>Limits:</h4>
                    <div ng-repeat="limit in card.limits" class="row">
                        <div class="col-xs-12" ng-if="limit.type == 'daily_limit'">
                            <p>Spend daily allowance: <span><strong>£{{limit.amount}}</strong></span></p>
                        </div>
                        <div class="col-xs-12" ng-if="limit.type == 'total_limit'">
                            <p>Spend allowance: <span><strong>£{{limit.amount}}</strong></span></p>
                        </div>
                        <div class="col-xs-12" ng-if="limit.type == 'merchant_limit'">
                            <p>Merchants: <strong><span ng-repeat="merchant in limit.whitelist">{{merchant.merchantName}}<span
                                    ng-hide="$last">, </span> </span></strong></p>
                        </div>
                        <div class="col-xs-12" ng-if="limit.type == 'num_transactions'">
                            <p>Maximum number of transactions: <span><strong>{{limit.transaction}}</strong></span></p>
                        </div>
                        <div class="col-xs-12" ng-if="limit.type == 'category'">
                            <p>Merchant Categories: <strong><span ng-repeat="category in limit.categories">{{category.name}}<span
                                    ng-hide="$last">, </span> </span></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"
                 ng-if="!($state.current.name === 'dashboard.reporting'  && $stateParams.id == $index)">
                <a href="#" ui-sref="dashboard.reporting({id: $index})" class="pull-right">Reports <span
                        class="glyphicon glyphicon-triangle-bottom"></span></a>
            </div>
            <div class="col-xs-12"
                 ng-if="($state.current.name === 'dashboard.reporting'  && $stateParams.id == $index)">
                <a href="#" ui-sref="dashboard" class="pull-right">Reports <span
                        class="glyphicon glyphicon-triangle-top"></span></a>
            </div>
        </div>
        <div ng-if="$state.current.name === 'dashboard.reporting' && $stateParams.id == $index">
            <!--TODO LUCA-->
            <!--{{card.cvc}}-->
            <ui-view></ui-view>
        </div>
    </div>
</div>

