<form name="newCardForm" ng-submit="addCard()" ng-init="cardData.balance = 0">
    <div class="form-group">
        <label for="cardName">Card name</label>
        <input type="text" class="form-control" id="cardName" ng-model="cardData.cardName"
               placeholder="Enter Card name">
    </div>
    <div class="form-group">
        <label for="recipientName">Recipient name</label>
        <input type="text" class="form-control" id="recipientName" ng-model="cardData.recipientName"
               placeholder="Enter recipient name">
    </div>
    <div class="form-group">
        <label for="expr">Expiry date</label>
        <input type="date" class="form-control" id="expr" ng-model="cardData.expr" placeholder="Expiry date">
    </div>
    <div class="limits">
        <h2>Limits:</h2>
        <section class="limit" ng-repeat="limit in cardData.limits track by $index">
            <a class="btn btn-xs btn-danger pull-right" href="" ng-click="cardData.limits.splice($index)"><span class="fa fa-trash"></span> Remove limit</a>
            <label for="limit">Limit type</label>
            <select name="limit" id="limit" ng-model="limit.type"
                    ng-options="type.id as type.name for type in limitTypes"></select>

            <section ng-if="limit.type === 'category'">
                <ui-select multiple ng-model="limit.categories" theme="bootstrap" style="width: 300px;"
                           title="Choose categories">
                    <ui-select-match placeholder="Select categories...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="mcc in merchantCategories | filter:$select.search">
                        {{mcc.name}}
                    </ui-select-choices>
                </ui-select>
            </section>
            <section ng-if="limit.type === 'merchant_limit'">
                <ui-select multiple ng-model="limit.whitelist" theme="bootstrap" style="width: 300px;"
                           title="Choose merchants">
                    <ui-select-match placeholder="Select Merchants...">{{$item.merchantName}}</ui-select-match>
                    <ui-select-choices repeat="merchant in merchants | filter:$select.search">
                        {{merchant.merchantName}}
                    </ui-select-choices>
                </ui-select>
            </section>

            <section ng-if="limit.type === 'daily_limit'">
                <div class="form-group">
                    <label for="daySpend">Daily spend</label>
                    <input type="number" class="form-control" id="daySpend" ng-model="limit.amount"
                           placeholder="Enter day limit" min="0">
                </div>
            </section>
            <section ng-if="limit.type === 'total_limit'">
                <div class="form-group">
                    <label for="totSpend">Daily spend</label>
                    <input type="number" class="form-control" id="totSpend" ng-model="limit.amount"
                           placeholder="Enter total limit" min="0">
                </div>
            </section>
            <section ng-if="limit.type === 'num_transactions'">
                <div class="form-group">
                    <label for="nTransactions">Numbers of transactions</label>
                    <input type="number" class="form-control" id="nTransactions" ng-model="limit.transaction"
                           placeholder="Enter number of transactions" min="0">
                </div>
            </section>
        </section>

        <a href="" class="btn btn-default" ng-click="cardData.limits.push({})">Add limit <span
                class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>