<h2>Reports</h2>

<div class="row" ng-if="card.payments">
    <div class="col-md-8">
        <h4>How much money have I spent?</h4>
        <canvas id="bar" class="chart chart-bar"
                chart-data="[amountsPerDay]" chart-labels="days" chart-series="series" chart-options="options">
        </canvas>
    </div>
    <div class="col-md-4">
        <h4>What did I spend my money on?</h4>
        <canvas id="pie" class="chart chart-pie"
                chart-data="amounts" chart-labels="categories" chart-options="options">
        </canvas>
    </div>
    <div class="col-md-4">
        <h4>Where did I spend my money?</h4>
        <canvas id="pie2" class="chart chart-pie"
                chart-data="transactions" chart-labels="merchants" chart-options="options">
        </canvas>
    </div>
</div>

<div class="row" ng-if="!card.payments"><h3>No Payment data yet</h3></div>